## Instructions

In this project, you'll use data related to microeconomic indicators and historical stock prices to explore the data engineering pipline. You'll get to practice:

* Data ingestion 
* Data cleaning
* Data imputation
* Exploratory data analysis (EDA) through charts and graphs

## Packages

You'll use `pandas` and `matplotlib`, which were covered in the course material, to import, clean, and plot data. They have been installed in this workspace for you. If you're working locally and you installed Jupyter using Anaconda, these packages will already be installed.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from sklearn.preprocessing import StandardScaler

## Load data

The first step in a data engineering pipeline for machine learning is to ingest the data that will be used. For this project, data is hosted on a public GitHub repo. 

Your tasks:
* Import data from the provided GitHub repo using `pandas`
* Verify that the data has been imported correctly into `pandas` dataframes. Use methods like `head()` and `info()`
* You may need to change column names to make them easier to work with
* You may need to cast datetime data to the `datetime` format using `pandas` `to_datetime()` method

Data files to import: 
1. GDP
2. Inflation 
3. Apple stock prices 
4. Microsoft stock prices

In [26]:
# Load historical GDP data
GDP_URL = "https://raw.githubusercontent.com/udacity/CD13649-Project/main/Project/GDP.csv"

gdp_df = pd.read_csv(GDP_URL)
gdp_df.head()

         DATE      GDP
0  1947-01-01  243.164
1  1947-04-01  245.968
2  1947-07-01  249.585
3  1947-10-01  259.745
4  1948-01-01  265.742

In [27]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    309 non-null    object
 1   GDP     309 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.0+ KB

In [28]:
gdp_df.describe()

                GDP
count    309.000000
mean    7227.754935
std     7478.297734
min      243.164000
25%      804.981000
50%     4386.773000
75%    12527.214000
max    28284.498000

In [5]:
INFLATION_URL = "https://raw.githubusercontent.com/udacity/CD13649-Project/main/Project/inflation_monthly.csv"
inflation_df = pd.read_csv(INFLATION_URL, index_col=0)
inflation_df.head()

            CORESTICKM159SFRBATL
DATE
1968-01-01              3.651861
1968-02-01              3.673819
1968-03-01              4.142164
1968-04-01              4.155828
1968-05-01              4.088245

In [6]:
inflation_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 675 entries, 1968-01-01 to 2024-03-01
Data columns (total 1 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CORESTICKM159SFRBATL  675 non-null    float64
dtypes: float64(1)
memory usage: 10.5+ KB

In [7]:
# Load the historical stock price data for Apple and Microsoft
AAPL_URL = "https://raw.githubusercontent.com/udacity/CD13649-Project/main/Project/apple_historical_data.csv"
MSFT_URL = "https://raw.githubusercontent.com/udacity/CD13649-Project/main/Project/microsoft_historical_data.csv"

AAPL_stock_prices = pd.read_csv(AAPL_URL, index_col=0)

MSFT_stock_prices = pd.read_csv(MSFT_URL, index_col=0)

In [8]:
# Check the first few rows of data
AAPL_stock_prices.head()

          Close/Last     Volume      Open      High       Low
Date
5/3/2024    $183.38   163224100  $186.65   $187.00   $182.66
5/2/2024    $173.03    94214920  $172.51   $173.42   $170.89
5/1/2024    $169.30    50383150  $169.58   $172.71   $169.11
4/30/2024   $170.33    65934780  $173.33   $174.99   $170.00
4/29/2024   $173.50    68169420  $173.37   $176.03   $173.10

In [9]:
# Use methods like .info() and .describe() to explore the data
AAPL_stock_prices.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2517 entries, 5/3/2024 to 5/6/2014
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Close/Last  2514 non-null   object
 1   Volume      2517 non-null   int64
 2   Open        2517 non-null   object
 3   High        2517 non-null   object
 4   Low         2517 non-null   object
dtypes: int64(1), object(4)
memory usage: 118.0+ KB

In [10]:
AAPL_stock_prices.describe()

             Volume
count  2.517000e+03
mean   1.277394e+08
std    7.357405e+07
min    2.404834e+07
25%    7.741776e+07
50%    1.077601e+08
75%    1.567789e+08
max    7.576780e+08

In [11]:
# Check the first few rows of data
MSFT_stock_prices.head()

           Close/Last    Volume     Open       High        Low
Date
05/03/2024    $406.66  17446720  $402.28    $407.15    $401.86
05/02/2024    $397.84  17709360  $397.66    $399.93  $394.6515
05/01/2024    $394.94  23562480  $392.61  $401.7199    $390.31
04/30/2024    $389.33  28781370  $401.49    $402.16    $389.17
04/29/2024    $402.25  19582090  $405.25    $406.32    $399.19

In [12]:
MSFT_stock_prices.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2517 entries, 05/03/2024 to 05/06/2014
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Close/Last  2517 non-null   object
 1   Volume      2517 non-null   int64
 2   Open        2517 non-null   object
 3   High        2517 non-null   object
 4   Low         2517 non-null   object
dtypes: int64(1), object(4)
memory usage: 118.0+ KB

In [13]:
MSFT_stock_prices.describe()

             Volume
count  2.517000e+03
mean   2.953106e+07
std    1.370138e+07
min    7.425603e+06
25%    2.131892e+07
50%    2.639470e+07
75%    3.360003e+07
max    2.025141e+08

#### Cleaning Notes:
1. GDP:
    - DATE: is not a datetime object
2. AAPL:
    - Date: is not a datetime object
    - Close/Last: is an object (has a $)
    - Open: is an object (has a $)
    - High: is an object (has a $)
    - Low: is an object (has a $)
3. AAPL:
    - Date: is not a datetime object
    - Close/Last: is an object (has a $)
    - Open: is an object (has a $)
    - High: is an object (has a $)
    - Low: is an object (has a $)

## Data preprocessing: Check for missing data and forward fill

Check the Apple historical prices for missing data. Check for missing data in all columns. If there's data missing, use a forward fill to fill in those missing prices.

In [14]:
# Check for nulls 
gdp_df.isna().sum()

GDP    0
dtype: int64

In [15]:
# Check for nulls 
AAPL_stock_prices.isna().sum()

Close/Last    3
Volume        0
Open          0
High          0
Low           0
dtype: int64

In [16]:
# Check for nulls 
MSFT_stock_prices.isna().sum()

Close/Last    0
Volume        0
Open          0
High          0
Low           0
dtype: int64

In [17]:
# Forward fill any missing data
AAPL_stock_prices.ffill(inplace=True)

In [18]:
# Check again for nulls after using forward fill
AAPL_stock_prices.isna().sum()

Close/Last    0
Volume        0
Open          0
High          0
Low           0
dtype: int64

## Data preprocessing: Remove special characters and convert to numeric/datetime

The next step in the data engineering process is to standardize and clean up data. In this step, you'll check for odd formatting and special characters that will make it difficult to work with data as numeric or datetime. 

In this step:
* Create a function that takes in a dataframe and a list of columns and removes dollar signs ('$') from those columns
* Convert any columns with date/time data into a `pandas` `datetime` format

In [19]:
def convert_dollar_columns_to_numeric(df, numeric_columns):
    '''
        Removes dollar signs ('$') from a list of columns in a given dataframe AND casts the columns to a numeric datatype.
        Updates dataframe IN PLACE.
        
        Inputs:
            df: dataframe to be operated on
            numeric_columns: columns that should have numeric data but have dollar signs currently
            
        Returns:
            None - changes to the dataframe can be made in place
    '''
    
    # 1. Remove the dollar sign from the numeric column and convert to numeric
    # regex allow searching for a substring within a larger string
    df[numeric_columns] = df[numeric_columns].replace({'\$': ''}, regex=True).astype(float)

    # 2. Remove commas from the numeric columns and convert to numeric
    df[numeric_columns] = df[numeric_columns].replace({',': ''}, regex=True).astype(float)

    # Display cleaned DataFrame
    print("\nCleaned DataFrame:")
    df

<>:16: SyntaxWarning: invalid escape sequence '\$'
<>:16: SyntaxWarning: invalid escape sequence '\$'
C:\Users\Wayne.Bartlett\AppData\Local\Temp\ipykernel_18412\1462010386.py:16: SyntaxWarning: invalid escape sequence '\$'
  df[numeric_columns] = df[numeric_columns].replace({'\$': ''}, regex=True).astype(float)

In [20]:
# Use convert_dollar_columns_to_numeric() to remove the dollar sign from the Apple and Microsoft datasets

# Create a list of the columns to clean and cast to numeric
cols_list = AAPL_stock_prices.columns.tolist()
cols_list.remove('Date')
cols_list.remove('Volume')

# Call the cleaning function on the two stock price dataframes
convert_dollar_columns_to_numeric(AAPL_stock_prices, cols_list)
convert_dollar_columns_to_numeric(MSFT_stock_prices, cols_list)

ValueError: list.remove(x): x not in list

In [ ]:
gdp_df.tail()

In [ ]:
# Use pandas's to_datetime() to convert any columns that are in a datetime format
AAPL_stock_prices['Date'] = pd.to_datetime(AAPL_stock_prices['Date'], format='%m/%d/%Y')
MSFT_stock_prices['Date'] = pd.to_datetime(MSFT_stock_prices['Date'], format='%m/%d/%Y')
gdp_df['DATE'] = pd.to_datetime(gdp_df['DATE'], format='%Y-%m-%d')
inflation_df['DATE'] = pd.to_datetime(inflation_df['DATE'], format='%Y-%m-%d')

In [ ]:
# Use .info() and check the type of each column to ensure that the above steps worked
AAPL_stock_prices.info()

In [ ]:
MSFT_stock_prices.info()

In [ ]:
gdp_df.info()

In [ ]:
inflation_df.info()

## Data preprocessing: Align datetime data

Data engineering includes changing data with a datetime component if needed so that different time series can be more easily compared or plotted against each other. 

In this step:

* Align the inflation date so that it falls on the last day of the month instead of the first

Helpful hints: 
* Use the `pandas` `offsets` method using `MonthEnd(0)` to set the 'Date' column to month-end

In [ ]:
# Align inflation data so that the date is the month end (e.g. Jan 31, Feb 28/28)
inflation_df['DATE'] = inflation_df['DATE'] + pd.offsets.MonthEnd(0)

# Align gdp data so that the date is the month end (e.g. Jan 31, Feb 28/28)
gdp_df['DATE'] = gdp_df['DATE'] + pd.offsets.MonthEnd(0)

In [ ]:
inflation_df.head()

In [ ]:
gdp_df.head()

## Data preprocessing: Upsample, downsample and interpolate data

Inflation data is presented monthly in this dataset. However, for some models, you may need it at a quarterly frequency, and for some models you may need it at a weekly frequency. 

In this step:
* Create a new quarterly inflation dataframe by downsampling the monthly inflation data to quarterly using the mean (e.g. for quarter 1 in a given year, use the average values from January, February, and March)
* Create a new weekly inflation dataframe by upsampling the monthly inflation data. For this, you'll need to use `resample` and then you'll need to `interpolate` to fill in the missing data at the weekly frequency

Note that you may need to change the index for some of these operations!

In [ ]:
# Set the datetime as the index
inflation_df = inflation_df.set_index('DATE').sort_index()

# Explicitly declare monthly frequency as month-end
inflation_df = inflation_df.asfreq('ME')

In [ ]:
# Upsample and interpolate from monthly to weekly 

#1. Resample monthly --> weekly (Friday), using last (most recent value per week)
weekly_inflation = inflation_df.resample('W-Fri').last()

#2. Interpolate missing weekly values based on time
weekly_inflation = weekly_inflation.interpolate(method='time')

In [ ]:
# Downsample from monthly to quarterly 
quarterly_inflation = inflation_df.resample('QE').mean()

## Data preprocessing: Normalize/standardize a feature

Economic time series data often involve variables measured on different scales <br>
(e.g., GDP in trillions of dollars, inflation in percentage points). <br>
Standardizing these variables (typically by subtracting the mean and dividing <br>
by the standard deviation) puts them on a common scale, allowing for meaningful <br>
comparisons and analyses.

Your task:
* Standardize the GDP data. You may do this manually by subtracting the mean <br>
and dividing by the standard deviation, or you may use a built-in method from <br>
a library like `sklearn`'s `StandardScaler`

In [ ]:
# Standardize the GDP measure

# Instantiate an instance of the StandardScaler class
scaler = StandardScaler()
gdp_df['gdp_scaled'] = scaler.fit_transform(gdp_df[['GDP']])

In [ ]:
# Check the dataframe to make sure the calculation worked as expected 
gdp_df.head()

## EDA: Plotting a time series of adjusted open vs close price

As part of your EDA, you'll frequently want to plot two time series on the same graph and using the same axis to compare their movements. 

Your task:
* Plot the Apple open and close price time series on the same chart **for the last three months only**. Be sure to use a legend to label each line

**NOTE**: This is a large dataset. If you try to plot the entire series, your graph will be hard to interpret and may take a long time to plot. Be sure to use only the most recent three months of data.

In [ ]:
# Get max date in timeseries
AAPL_end_date = AAPL_stock_prices.Date.max()

# Get date that is 3 months back as the start date
AAPL_start_date = AAPL_end_date - pd.DateOffset(months=3)

In [ ]:
# Use the max date calculated above to get the last three months of data in the dataset 
AAPL_last3_months = AAPL_stock_prices.loc[AAPL_stock_prices['Date'] >= AAPL_start_date]

In [ ]:
AAPL_last3_months

In [ ]:
# Plot time series of open v. close stock price for Apple using the last 3 months of data
import plotly.graph_objects as go

# Line plot of closing prices
fig = go.Figure() # Make figure

fig.add_trace(go.Scatter(
    x=AAPL_last3_months.Date, 
    y=AAPL_last3_months['Close/Last'], 
    mode='lines', 
    name='AAPL Closing Price'
))

fig.add_trace(go.Scatter(
    x=AAPL_last3_months.Date, 
    y=AAPL_last3_months['Open'], 
    mode='lines', 
    name='AAPL Opening Price'
))

# Customize the layout
fig.update_layout(
    title="AAPL Opening vs Closing Prices (Last 3 Months)",
    xaxis_title='Date',
    yaxis_title='Price (USD)',
    template='plotly_dark',
    hovermode='x',
)

## EDA: Plotting a histogram of a stock's closing price in the last three months

One way to see how much a stock's price generally moves is to plot the frequency of closing prices over a set time period. 

Your task:
* Use the **last three months** of Apple stock data and plot a histogram of closing price

In [ ]:
# Plot the histogram of Apple's closing price over the last 3 months 
plt.figure(figsize=(10, 6))
sns.histplot(data=AAPL_last3_months, x='Close/Last', binwidth=1)
plt.title('Distribution of Closing Apple Stock Prices for the Last 3 Months')
plt.xlabel('Closing Price (USD)')
plt.ylabel('Frequency')
plt.grid(True)
plt.show()

## Calculating correlation between a stock price and a macroeconomic variable 

Inflation affects the purchasing power of money and can influence corporate <br>
profits, interest rates, and consumer behavior. By analyzing the correlation <br>
between stock prices and inflation, one can gauge how inflationary trends impact <br>
stock market performance. For instance, high inflation might erode profit margins <br>
and reduce stock prices, while moderate inflation might indicate a growing economy, <br>
benefiting stocks.

Your task:
* Plot a heatmap that shows the correlation between Microsoft and Apple returns <br>
and inflation 

This will require several steps:
1. Calculate the returns for Apple and Microsoft and the change in monthly inflation (use the `pct_change` method for each)
2. Interpolate the daily stock returns data to monthly so it can be compared to the monthly inflation data
3. Merge the stock returns (Apple and Microsoft) and inflation data series into a single dataframe
4. Calculate the correlation matrix between the Apple returns, Microsoft returns, and inflation change
5. Plot the correlation matrix as a heatmap

### 1. Calculate returns for Microsoft / Apple and the monthly change in inflation

In [ ]:
# Rename the inflation column
inflation_df.rename(columns={'CORESTICKM159SFRBATL': 'inflation'}, inplace=True)

In [ ]:
# Calculate daily returns for Apple and Microsoft and the percent change in inflation from month to month
AAPL_stock_prices['Daily_Return'] = AAPL_stock_prices['Close/Last'].pct_change()
MSFT_stock_prices['Daily_Return'] = MSFT_stock_prices['Close/Last'].pct_change()
inflation_df['inflation_rate'] = inflation_df['inflation'].pct_change()

In [ ]:
inflation_df.head()

### 2. Interpolate stock returns from daily to monthly

In [ ]:
MSFT_stock_prices.info()

In [ ]:
# Set the datetime as the index
AAPL_stock_prices = AAPL_stock_prices.set_index('Date').sort_index()
MSFT_stock_prices = MSFT_stock_prices.set_index('Date').sort_index()

# Interpolate Apple stock returns from daily to monthly
AAPL_monthly_returns = AAPL_stock_prices['Daily_Return'].resample('ME').mean()

# Interpolate MSFT stock returns from daily to monthly
MSFT_monthly_returns = MSFT_stock_prices['Daily_Return'].resample('ME').mean()
MSFT_monthly_returns

### 3. Merge the dataframes and calculate / plot the correlation

In [ ]:
# Convert the returns series into dataframes and rename the returns columns
MSFT_returns_df = pd.DataFrame(MSFT_monthly_returns).rename(columns={'Daily_Return': 'Returns'})
AAPL_returns_df = pd.DataFrame(AAPL_monthly_returns).rename(columns={'Daily_Return': 'Returns'})

# Merge the returns dataframes
MSFT_AAPL_returns = pd.merge(
    MSFT_returns_df, 
    AAPL_returns_df, 
    how='inner', 
    on='Date',
    suffixes=('_MSFT', '_AAPL')
)

# View the output
MSFT_AAPL_returns.head()

### 4. Calculate the correlation matrix between the Apple returns, Microsoft returns, and inflation change

In [ ]:
# Calculate correlation matrix
corr = MSFT_AAPL_returns.corr()

In [ ]:
corr

### 5. Plot the correlation matrix as a heatmap

In [ ]:
# Plot heatmap
(corr
 .style
 .background_gradient(cmap='viridis', axis=None, vmin=-1, vmax=1)
 .format(precision=4)
)

## Calculating rolling volatility (standard deviation) of a stock's price for last 3 months

Volatility is a measure of the dispersion of returns for a given security. <br>
By calculating rolling volatility, investors can assess the risk associated with <br>
a stock over time: Higher volatility indicates higher risk, as the stock's price <br>
is more likely to experience significant fluctuations. <br>
In portfolio optimization, understanding the volatility of individual stocks <br>
and how it changes over time is crucial for diversification and optimization. <br>
By analyzing rolling volatility, investors can adjust their portfolios to maintain <br>
a desired risk level, potentially improving the risk-return profile.

One possible way to calculate volatility is by using the standard deviation of <br>
returns for a stock over time.

Your task:
* Calculate the weekly rolling standard deviation for Apple's closing price
* Plot the calculated rolling weekly volatility of Apple's closing price against <br>
Apple's closing price. Plot these **on the same chart, but using different y-axes**

Helpful hints:
* You'll need to use the `pandas` `rolling()` method with a given `window_size` <br>
parameter to make it a _weekly_ rolling calculation
* Use **only the last three months of data**; data much older than this may not <br>
be as useful for portfolio optimization
* You'll need to create two axes on the matplotlib figure to be able to use two <br>
different y-axes (one for the closing price and one for the rolling volatility calculated here)

In [ ]:
# Define the window size for the rolling calculation (e.g., one week)
WINDOW_SIZE = 5 # 5 trading days to a week

In [ ]:
# Calculate the returns for the last 3 months
AAPL_last3_months['Daily_Return'] = AAPL_last3_months['Close/Last'].pct_change()

# Calculate rolling one-week volatility
AAPL_last3_months['volatility'] = AAPL_last3_months['Daily_Return'].rolling(window=WINDOW_SIZE).std()

AAPL_last3_months.dropna(inplace=True)

AAPL_last3_months.head()

In [ ]:
# Plot the calculated rolling weekly volatility of Apple's closing price against Apple's closing price
# Plot these on the same chart, but using different y-axes

x_values = AAPL_last3_months.Date

# first create a figure with two axes
fig, ax = plt.subplots(nrows=2, ncols=1, figsize=(12,8), sharex=True) # this is the foundation of creating multiple charts on one figure

# ax[0] creates the first chart. You'll want to add all 3 line plots to it: 
ax[0].plot(x_values, AAPL_last3_months['Close/Last'], label='AAPL Closing Price', color='blue') # add line chart for closing price
ax[0].set_title("AAPL Last 3 Month Prices (USD)") # add a title for this graph
ax[0].set_ylabel('AAPL Closing Price (USD)')
ax[0].legend()

# ax[1] creates the second, separate chart on the same figure
ax[1].plot(x_values, AAPL_last3_months['volatility'], label='AAPL Rolling Volatility', color='red') 
ax[1].set_title("AAPL 5-Day Rolling Volatility") # set a title
ax[1].set_xlabel("Date") # set a title for the x-axis
plt.xticks(rotation=45)
ax[1].set_ylabel("Volatility (std)") # set a title for the y-axis 
ax[1].legend()

plt.tight_layout()
plt.show()

## Export data

Now that you have preprocessed your data, you should save it in new csv files so that it can be used in downstream tasks without having to redo all the preprocessing steps. 

Your task:
* Use `pandas` to export all modified datasets back to new CSV files

In [ ]:
# Save the AAPL Last 3 months dataframe
AAPL_last3_months.to_csv('AAPL_last3_months.csv')

# Repeat process for any other datasets